---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Acerca del sitio">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi asperiores culpa, possimus adipisci quibusdam tenetur sunt nihil ab, dolorem maiores quasi repellat, distinctio officia. Quisquam, nulla minus nihil natus aperiam velit nemo illum laboriosam, libero ut odio deserunt quas magni facilis incidunt quam magnam placeat illo architecto repellendus, enim porro suscipit. Fugit consequatur, minus a, nisi ex provident est modi amet facere veritatis cupiditate magnam qui dolore ad quas voluptatibus ipsam dolor porro, saepe laboriosam hic reprehenderit maiores. Provident laborum eligendi voluptatibus placeat, omnis nam commodi ea hic quae, reiciendis inventore illo repudiandae blanditiis totam facilis aperiam consequuntur eum iure?</p>
</Layout>